<section>
    <h2>Add New Address To Book List</h2>
    <form [formGroup]="addressForm" (ngSubmit)="addAddress()">
        <label for="country">Country</label>
        <select name="country" id="country" formControlName="country">
          <option  *ngFor="let country of countryList();" [value]="country">
            {{ country }}
          </option>
        </select>
      <div>
        <label for="addressLine1">Address Line 1</label>
        <input id="addressLine1" formControlName="addressLine1" />
      </div>
  
      <div>
        <label for="addressLine2">Address Line 2</label>
        <input id="addressLine2" formControlName="addressLine2" />
      </div>
  
      <div>
        <label for="city">City</label>
        <input id="city" formControlName="city" />
      </div>
  
      <div>

        <label for="zipCode">Zip Code</label>
        <input id="zipCode" formControlName="zipCode" />

      </div>

  
      <button type="submit" [disabled]="addressForm.invalid">Add Address</button>
    </form>
  </section>    
